body{
    font-family: 'Copperplate', sans-serif;
    background-color: #ffda0b;
}

/* navbar css starts here  */
.bg-light{
    background-color: #6960f0!important;
}

.navbar-brand{
    font-family: 'Copperplate', sans-serif;
    font-size: 1.5rem;
    color: #e2f069!important;
}

.nav-link{
    color: #c0be2d!important;
    font-family: 'Copperplate', sans-serif;
}

.nav-link:hover{
    background-color: #49df69;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(87, 136, 228)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: #ee2828!important;
}